body {
    background: rgb(71, 71, 71); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.animation-container {
    background: black;
    padding: 0;
    margin: 0;
    height: 90%;
    width: 90%;
    overflow: auto;
    resize: both;
    border: 10px solid rgb(39, 39, 39);
}

#dvd-logo {
    position: absolute;
    margin: 0;
    padding: 0;
}