body {
    background: rgb(71, 71, 71); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.animation-container {
    padding: 0;
    margin: 0;
    height: 500px;
    width: 500px;
    overflow: auto;
    resize: both;
    border: 30px solid black;
    box-sizing: border-box;
}

#dvd-logo {
    position: absolute;
    margin: 0;
    padding: 0;
}